*

!.gitignore

.DS_Store
.vscode/

!hosts/
!modules/
!modules/**/
!options/

# release builds of the drivers (drivers/ivb/update.sh, pocl-gen7/release.sh)
!drivers/
!drivers/**/
!drivers/**

!flake.nix
!flake.lock

!*.nix
!*.nu
!*.age

!*.keymap
!*.md
!*.png
!*.yml
!*.json
!*.glsl
!*.py
!*.css
!*.patch
